angleterre[[:space:]]2018[[:space:]]inter.MOV filter=lfs diff=lfs merge=lfs -text
journée[[:space:]]de[[:space:]]folie.mp4 filter=lfs diff=lfs merge=lfs -text
recap[[:space:]]2018.MOV filter=lfs diff=lfs merge=lfs -text
vlog[[:space:]]1[[:space:]]ip.MOV filter=lfs diff=lfs merge=lfs -text
vlog[[:space:]]1[[:space:]]maman.mov filter=lfs diff=lfs merge=lfs -text
vlog[[:space:]]2[[:space:]]maman.mov filter=lfs diff=lfs merge=lfs -text
vlog[[:space:]]2.MOV filter=lfs diff=lfs merge=lfs -text
vlog[[:space:]]3.MOV filter=lfs diff=lfs merge=lfs -text
